body{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    width: 440px;

}

header:first-child {
    border-bottom: 1px solid gray;
    width: 440px;
}
p {
    padding-left: 2%;
    font-weight: 600;
}
h2 {
    padding-left: 2%;  
}

img {
    width: 440px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


p.item {
   border-bottom: 1px solid gray;
   margin:0%;
   padding-left: 2%;
   padding-top: 2%;
   padding-bottom: 2%;
   font-weight: 600;
}

footer {
    width: 430px;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 600;
 }
