
nav {
    display:flex;
    background-color: #282A35;
    margin: 0;
    padding: 8px;
    color: aliceblue;
    max-height: 80px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    margin: 0;
    padding: 8px;
    color: aliceblue;
}
ul li {
    display: inline;
    margin: 5px;
    padding: 0;
    color: gray;
}

ul li:first-child {
    color: aliceblue;
}



.disabled {
    background-color: #282A35;
    margin: 0;
    padding: 8px ;
}

select {
    background-color: #282A35;
    margin: 0;
    padding: 8px;
    color: gray;
    border: none;
}

 .disabled {
    background-color: #282A35;
    margin: 0 ;
    padding: 8px;
    color: rgb(77, 76, 76);
    border: none 
}

input {
    background-color: white;
    margin: 0;
    padding: 10px;
    color: gray;

}

.submit {
    background-color: #282A35;
    margin: 0;
    padding: 8px;
    color: green;
    border:1px solid green;
} 

.burgermenu {
    display: none;
}


@media  screen and (max-width: 767px) {
    .burgermenu {
        display: flex;
        width: 20px;
        align-items: center;
        padding-right: 20px;
    }
    .dropdown, .right , .button, .lista {
        display: none;
    }
    
    .left {
        justify-content: space-between;
        width: 100%;
    }
}

